<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>inputType</key>
			<string>location</string>
			<key>requiresInput</key>
			<true/>
			<key>text</key>
			<string>Location Required</string>
			<key>image</key>
			<string>SampleImage1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>SampleImage1</string>
			<key>text</key>
			<string>Quest will send push notifications to you.</string>
			<key>requiresInput</key>
			<true/>
			<key>inputType</key>
			<string>notifications</string>
		</dict>
		<dict>
			<key>inputType</key>
			<string>facebook</string>
			<key>requiresInput</key>
			<true/>
			<key>text</key>
			<string>Facebook</string>
			<key>image</key>
			<string>SampleImage2</string>
		</dict>
	</array>
</array>
</plist>
